
<nb-card>
  <nb-card-header>Initier votre demande d'habilitation</nb-card-header>
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>Initier Demande</ng-template>
        <div class="row mb-4">
          <div class="col-lg-6">
            <h5 class="mb-4">List des Applications Metier</h5>
            <nb-select placeholder="Choisissez vos Applications" [(selected)]="selectedItem" class="col-12">
              <nb-select-label>
                Selected: {{ selectedItem }}
              </nb-select-label>

              <nb-option value="1">Option 1</nb-option>
              <nb-option value="2">Option 2</nb-option>
              <nb-option value="3">Option 3</nb-option>
              <nb-option value="4">Option 4</nb-option>
            </nb-select>
          </div>
          <div class="col-lg-6">
            <h5 class="mb-4">List des Validateur</h5>
            <nb-select placeholder="Choisissez Votre Validateur " [(selected)]="selectedItem2" class="col-12">
              <nb-select-label>
                Selected: {{ selectedItem2 }}
              </nb-select-label>

              <nb-option value="1">Option 1</nb-option>
              <nb-option value="2">Option 2</nb-option>
              <nb-option value="3">Option 3</nb-option>
              <nb-option value="4">Option 4</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row justify-content-between ">
          <div class="col-lg-4 mb-4">
            <div class="card rounded-0" style="border-color: #e4e9f2 ">
              <div class="card-body d-flex justify-content-md-between align-content-center">
                <p>Delta V10 Amplitude</p>
                <nb-icon icon="close-outline"></nb-icon>
              </div>
            </div>
            <div class="card rounded-0" style="border-color: #e4e9f2">
              <div class="card-body d-flex justify-content-md-between align-content-center">
                <p>Work flow Imtiaz</p>
                <nb-icon icon="close-outline"></nb-icon>
              </div>
            </div>
          </div>
          <div class="col-4 align-self-end">
            <button nbButton disabled nbStepperNext class="ps-1 pe-2">Précedent</button>
            <button nbButton nbStepperNext hero status="success">Suivant</button>
          </div>

        </div>


      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Pièce Jointe</ng-template>
        <h4>Joindre le Canvas de demande d'habilitation </h4>
        <div class="row">
          <div class="col-lg-8">
            <div class="mt-4 mb-4">
              <input class="form-control" type="file" id="formFile">
            </div>
          </div>
          <div class="col-lg-4 align-self-center ">
            <button nbButton  nbStepperPrevious >Précedent</button>
            <button nbButton nbStepperNext hero status="success">Suivant</button>
          </div>
        </div>

      </nb-step>

      <nb-step [label]="labelFour">
        <ng-template #labelFour>valider</ng-template>
        <h4>Synthese </h4>
        <p class="lorem">
           Merci de verifier votre demande avant de la soumettre
        </p>
        <div class="row col-12 d-flex " >
          <div class="col-lg-8 align-self-center ">
            <button nbButton  nbStepperPrevious hero status="success" >Précedent</button>
            <button nbButton nbStepperNext disabled hero status="success">Suivant</button>
          </div>
          <div class="col-lg-4 d-flex align-items-end justify-content-end">
            <button nbButton  hero status="danger">Soumettre</button>
          </div>
        </div>

      </nb-step>
    </nb-stepper>
  </nb-card-body>
  <nb-card-footer>SGMA Habilitation</nb-card-footer>
</nb-card>



<!--
<nb-card>
  <nb-card-header>Initier votre demande d'habilitation</nb-card-header>
  <nb-card-body class="">
    <div class="row mb-4">
      <div class="col">
        <nb-select placeholder="Custom label" [(selected)]="selectedItem" class="col-12">
          <nb-select-label>
            Selected: {{ selectedItem }}
          </nb-select-label>

          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
        </nb-select>
      </div>
      <div class="col">
        <nb-select placeholder="Custom label" [(selected)]="selectedItem2" class="col-12">
          <nb-select-label>
            Selected: {{ selectedItem2 }}
          </nb-select-label>

          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
        </nb-select>
      </div>
    </div>

    <div class="row justify-content-between ">
        <div class="col-4">
          <div class="card rounded-0" style="border-color: #e4e9f2 ">
            <div class="card-body d-flex justify-content-md-between align-content-center">
              <p>Delta V10 Amplitude</p>
              <nb-icon icon="close-outline"></nb-icon>
            </div>
          </div>
          <div class="card rounded-0" style="border-color: #e4e9f2">
            <div class="card-body d-flex justify-content-md-between align-content-center">
              <p>Work flow Imtiaz</p>
              <nb-icon icon="close-outline"></nb-icon>
            </div>
          </div>
        </div>
      <div class="col-4 align-self-end">
        <button nbButton hero status="success" >Suivant</button>
      </div>



    </div>

  </nb-card-body>
  <nb-card-footer>SGMA Habilitation</nb-card-footer>
</nb-card>
-->

