

<nb-card>
  <nb-card-header>Initier votre demande d'habilitation</nb-card-header>
  <nb-card-body class="">
    <div class="row mb-4">
      <div class="col">
        <nb-select placeholder="Custom label" [(selected)]="selectedItem" class="col-12">
          <nb-select-label>
            Selected: {{ selectedItem }}
          </nb-select-label>

          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
        </nb-select>
      </div>
      <div class="col">
        <nb-select placeholder="Custom label" [(selected)]="selectedItem2" class="col-12">
          <nb-select-label>
            Selected: {{ selectedItem2 }}
          </nb-select-label>

          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
        </nb-select>
      </div>
    </div>

    <div class="row justify-content-between ">
        <div class="col-4">
          <div class="card rounded-0" style="border-color: #e4e9f2">
            <div class="card-body d-flex justify-content-md-between align-content-center">
              <p>Delta V10 Amplitude</p>
              <nb-icon icon="close-outline"></nb-icon>
            </div>
          </div>
          <div class="card rounded-0" style="border-color: #e4e9f2">
            <div class="card-body d-flex justify-content-md-between align-content-center">
              <p>Work flow Imtiaz</p>
              <nb-icon icon="close-outline"></nb-icon>
            </div>
          </div>
        </div>
      <div class="col-4 align-self-end">
        <button nbButton hero status="success" >Suivant</button>
      </div>



    </div>

  </nb-card-body>
  <nb-card-footer>SGMA Habilitation</nb-card-footer>
</nb-card>

