

<nb-layout>
  <nb-layout-header fixed>
    <div class="d-flex">
      <div class="">
        <nb-icon icon="menu-2-outline" class="fs-2 " ></nb-icon>
      </div>
      <div class="ms-2">
        <h4>SGMA Hab</h4>
      </div>
    </div>



  </nb-layout-header>

  <nb-sidebar responsive>

<!--    <app-side-menu></app-side-menu>-->

     <app-side-menu></app-side-menu>

  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
<!--    <app-init-demande></app-init-demande>-->
  </nb-layout-column>
</nb-layout>

