

<nb-layout>
  <nb-layout-header fixed>
    <div class="d-flex col-12 flex-row align-items-center justify-content-between">
      <div class="col-lg-8">
        <div class="d-flex">
          <nb-icon icon="menu-2-outline" class="fs-2 " ></nb-icon>
          <h4>SGMA Hab</h4>
        </div>
      </div>
      <div class="col-lg-2 ">
        <nb-user name="Ait Kassi Driss"
                 title="full-stack developer" >
        </nb-user>
        <button nbButton (click)="handleLogout()">
          <nb-icon icon="star"></nb-icon>
        </button>
      </div>

    </div>



  </nb-layout-header>

  <nb-sidebar responsive>

<!--    <app-side-menu></app-side-menu>-->

     <app-side-menu></app-side-menu>

  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
<!--    <app-init-demande></app-init-demande>-->
  </nb-layout-column>
</nb-layout>

